body {
	font-family: Staatliches, sans-serif !important;
	background: transparent;
	/* background-image: url('./img/basegameref/dota2ingame.png'); */
	/* background-size: cover; */
}

#base {
	/* need to set to 0 for animation */
	opacity: 0;
}

#nameplate {
	margin-top: 3%;

	display: flex;
	flex-direction: row;
}

.col {
	flex: 1;
}

.text {
	background: white;
	padding: 0 8px 0 15px;
	margin: 0;

	overflow: hidden;
	white-space: nowrap;

	font-size: 3vh;
	letter-spacing: 4px;
}

#leftteam,
#rightteam {
	font-size: 2.5vh;
}

#left {
	text-align: end;
	margin-right: 3.2vw;
}

#right {
	margin-left: 3.2vw;
}

#versus {
	z-index: 4;
	position: absolute;
	top: 5%;
	left: 50%;
	transform: translate(-50%, 0%);
	align-items: center;
}

#middle {
	background-color: #ffba00;
	font-size: 2.6vh;
	opacity: 1;
}

#vs {
	z-index: 2;
	position: absolute;
	right: 0%;
	top: 0%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	opacity: 1;
}

#series {
	font-size: 3vh;
	padding-top: 0.2rem;
	padding-bottom: 0.2rem;
}

#game {
	font-size: 2vh;
	background-color: #ffba00;
	padding-top: 0.1rem;
	padding-bottom: 0.1rem;
}

#round {
	flex-wrap: wrap;
	font-size: 2vh;

	padding-top: 0.1rem;
	padding-bottom: 0.1rem;
}

#logo {
	position: absolute;
	z-index: 6;
	width: 6vw;

	/* need to set to 0 for animation  */
	opacity: 0;

	overflow: hidden;

	bottom: 1%;
	right: 22.5%;

	border-right: 1px solid #ffba00;
}

#sponsor {
	position: absolute;
	z-index: 4;
	margin: 0;

	bottom: 0%;
	right: 16.5%;

	height: 10vh;
	max-height: 10vh;

	/* need to set to 0 for animation */
	opacity: 0;
}

#loop {
	/* background-color: rgba(255, 255, 255, 0.34);
	background-size: contain; */
}

#bg {
	position: absolute;
	z-index: 3;
	width: 15vw;
	height: 10vh;
	right: 13.7%;
	bottom: 0%;
	background: rgb(255, 255, 255, 0.9);
	opacity: 1;
}
