body {
	font-family: Staatliches, sans-serif !important;
	background: transparent;
	/* background-image: url('./img/basegameref/dota2draft.png');
	background-size: cover; */
}

#base {
	opacity: 0;
}

#nameplate {
	margin-top: 0;
	margin-right: 36%;
	display: flex;
	flex-direction: row;
}

.col {
	flex: 1;
}

.text {
	background: white;
	padding: 0 8px 0 15px;
	margin: 0;

	overflow: hidden;
	white-space: nowrap;

	font-size: 3vh;
	letter-spacing: 4px;
}

#left {
	text-align: end;
	margin-right: 3.2vw;
	font-size: 4vh;
}

#right {
	margin-left: 3.2vw;
	font-size: 4vh;
}

#versus {
	z-index: 4;
	position: absolute;
	top: 1%;
	left: 32%;
	transform: translate(-50%, 0%);
	align-items: center;
}

#middle {
	background-color: #ffba00;

	font-size: 3.2vh;

	opacity: 1;
}

#vs {
	z-index: 2;
	position: absolute;
	right: 0%;
	top: 0%;
	display: flex;
	flex-direction: row-reverse;
	align-items: flex-start;
	opacity: 1;
}

#series {
	font-size: 2vh;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

#game {
	font-size: 2vh;
	background-color: #ffba00;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

#round {
	flex-wrap: wrap;
	font-size: 2vh;

	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

#logo {
	position: absolute;
	z-index: 6;
	width: 6vw;

	opacity: 0;

	overflow: hidden;

	top: 47%;
	right: 7%;

	border-right: 1px solid #ffba00;
}

#sponsor {
	position: absolute;
	z-index: 4;
	margin: 0;

	top: 45%;
	right: 2%;

	height: 10vh;
	max-height: 10vh;
	opacity: 0;
}

#loop {
	/* background-color: rgba(255, 255, 255, 0.34);
	background-size: contain; */
}

#bg {
	position: absolute;

	z-index: 3;

	width: 14vw;
	height: 12vh;

	right: 0%;
	top: 45%;

	background: rgb(255, 255, 255);

	opacity: 1;
}
